/* ===========================
   RESET / BASE
=========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #f2f4f8;
    color: #333;
}

/* ===========================
   HEADER
=========================== */
.header {
    width: 100%;
    padding: 20px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
    transition: 0.8s;
   
}

.logo span{
    color:#4d6bff;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.2s;
}

.menu a:hover {
    color: #5b7fff;
}

/* Ícone do menu - escondido no desktop */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
}

/* MENU MOBILE */
@media (max-width: 768px) {

    .hamburger {
        display: block;
        font-size: 28px;
        cursor: pointer;
        user-select: none;
    }

    /* Remove o flex padrão do menu no mobile */
    .menu {
        display: none;
        flex-direction: column;
        gap: 15px;
        padding: 15px 20px;
        margin: 0;
    }

    /* NAV vira caixa flutuante */
    nav {
        position: absolute;
        top: 60px; /* ajustado para ficar grudado no header */
        right: 20px;
        width: 180px;
        background: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.15);
        border-radius: 10px;
        display: none; /* escondido inicialmente */
    }

    /* Quando o menu abre */
    .menu.active {
        display: flex;
    }

    nav.active {
        display: block;
    }
}


/* ===========================
   HERO
=========================== */
.hero {
    height: 90vh;
    background-image: url(../img/tinta.jpg);
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.hero-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 60%;
        height: 100%;
}

.hero-content h1 {
    font-size: 5vw;
    color: rgb(32, 30, 30);
}

.hero-content p {
    color: #2c2a2a;
    margin: 15px 0 25px;
    padding-top: 7%;
    font-weight: bold;
}

.btn {
    padding: 12px 25px;
    background: #5b7fff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background: #22e222;
}

@media(width:500px){
    .hero {
        height: 50vh;
        background-image: url(../img/tinta.jpg);
        background-size:cover;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 30px;
        color: rgb(32, 30, 30);
    }
}

/* ===========================
   GALERIA DE CARDS
=========================== */

.gallery-section {
    padding: 60px;
    text-align: center;
}

.gallery-section h2 {
    font-size: 62px;
    margin-bottom: 80px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

/* CARD */
.card {
    background: #101114; /* azul bem claro */
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.35s ease;
    cursor: pointer;
    transform: translateY(0);
    overflow: hidden; /* necessário para o zoom */
    color:#ebeceb;
}

/* Texto */
.card h3 {
    margin: 14px 0 6px;
    font-size: 20px;
    transform:scale3d();
}

/* Hover */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 26px rgba(0,0,0,0.18);
    color: #22e222;
    
}


/* Imagem menor e mais arredondada */
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.35s ease;
}

/* Zoom suave */
.card:hover img {
    transform: scale(1.03);
}

.card p {
    color: #4d6bff;
    font-weight: bold;
    font-size: 15px;
}


/* ===========================
   SOBRE A LOJA
=========================== */
.sobre-section {
    background: rgba(0, 0, 0);
    text-align: center;
    margin-top: 40px;
    min-height: 600px;
}

.sobre-container {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.sobre-texto{
    width: 40%;
    displaY: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px 0px 4%;
}

.sobre-texto span{
    color:#22e222;
}

.sobre-img{
    background-image: url("../img/rabisco.jpeg");
    background-size: cover;
    width: 60%;
    min-height: 600px;
}

.sobre-section h2 {
    font-size: 52px;
    color: #4d6bff;
    margin-bottom: -6vw;
}

.sobre-section p {
    font-size: 20px;
    line-height: 1.6;
    color: #e0d9d9;
    text-align: justify;
}

@media(max-width:1000px){
        .sobre-img{
        display:none;
    }

    .sobre-texto{
        width: 100%;
        display: block;
    }

    .sobre-section{
        min-height: 450px;
    }

    .sobre-section h2{
        margin-bottom: 6vw;
        margin-top: 20px;
        font-size: 10vw;
    }

}

/* ===========================
   COMO FUNCIONA (O que pedir)
=========================== */
.funciona-section {
    margin-top: 0%;
    text-align: center;
    min-height: 700px;
    padding: 4% 8% 4% 8%;
    width:100%;
    background-color:#e7e8ec;
}

.funciona-box{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction:row;
    flex-wrap: wrap;
}

.funciona-section h2 {
    font-size: 52px;
    margin-bottom: 60px;
    color: #333;
}

.funciona-section h3{
    overflow: hidden;
    margin-top: 20px;
}

.funciona-section p{
    font-size: 18px;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    padding: 10px;
}

.funciona-card{
    overflow: hidden;
    height: 450px;
    width: 300px;
    background-color: rgb(24, 21, 21);
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
    color: rgb(221, 213, 213);
    border-radius: 5px;
    margin: 20px 10px;
    box-shadow:#101114 1px 1px 15px;
}

.funciona-card p{
    transition: 0.5s ease;
}

.funciona-img{
    background-size:cover;
    width: 100%;
    height: 300px;
    transition: 0.5s ease;
}

.img1{
    background-image: url(../img/quadro2.jpg)
}

.img2{
    background-image: url(../img/maquiagem.png)
}

.img3{
    background-image: url(../img/artesanato.jpg)
}

.img4{
    background-image: url(../img/paredes.jpeg)
}

.img5{
    background-image: url(../img/criativo.jpg)
}

.img6{
    background-image: url(../img/marcador.jpg)
}

.funciona-img:hover{
    transform: scale(1.04);
    cursor: pointer;
}

/* Efeito de scroll*/

/* Começa invisível */
.fade-in-element {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

/* Quando entra na tela */
.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0);
}

/* (Opcional) A section inteira também pode animar */
.fade-in-section {
    opacity: 0;
    transition: opacity 1.2s ease;
}

.fade-in-section.visible {
    opacity: 1;
}


/* ===========================
   FOOTER
=========================== */
.footer {
    background: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}
