/* ===========================
   RESET / BASE
=========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #f2f4f8;
    color: #333;
}

/* ===========================
   HEADER
=========================== */
.header {
    width: 100%;
    padding: 20px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
    transition: 0.8s;
   
}

.logo span{
    color:#4d6bff;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.2s;
}

.menu a:hover {
    color: #5b7fff;
}

/* ===========================
   HERO
=========================== */
.hero {
    height: 75vh;
    background-image: url("quadro.jpg");
    background-size:cover;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    padding-top: 14%;
    display:flex;
}

.hero-content h1 {
    font-size: 48px;
    color: white;
    max-width: 500px;
}

.hero-content p {
    color: #f0f0f0;
    margin: 15px 0 25px;
}

.btn {
    padding: 12px 25px;
    background: #5b7fff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background: #2ec242;
}

/* ===========================
   GALERIA DE CARDS
=========================== */

.gallery-section {
    padding: 60px;
    text-align: center;
}

.gallery-section h2 {
    font-size: 62px;
    margin-bottom: 80px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

/* CARD */
.card {
    background: #101114; /* azul bem claro */
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.35s ease;
    cursor: pointer;
    transform: translateY(0);
    overflow: hidden; /* necessário para o zoom */
    color:#ebeceb;
}

/* Texto */
.card h3 {
    margin: 14px 0 6px;
    font-size: 20px;
    transform:scale3d();
}

/* Hover */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 26px rgba(0,0,0,0.18);
    color: #33b633;
    
}


/* Imagem menor e mais arredondada */
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.35s ease;
}

/* Zoom suave */
.card:hover img {
    transform: scale(1.03);
}

.card p {
    color: #4d6bff;
    font-weight: bold;
    font-size: 15px;
}


/* ===========================
   SOBRE A LOJA
=========================== */
.sobre-section {
    background: rgba(0, 0, 0);
    text-align: center;
    margin-top: 40px;
    min-height: 600px;
}

.sobre-container {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.sobre-texto{
    width: 40%;
    displaY: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px 0px 4%;
}

.sobre-texto span{
    color:#2ec242;
}

.sobre-img{
    background-image: url("rabisco.jpeg");
    background-size: cover;
    width: 60%;
    height: 600px;
}

.sobre-section h2 {
    font-size: 52px;
    color: #4d6bff;
    margin-bottom: -150px;
}

.sobre-section p {
    font-size: 20px;
    line-height: 1.6;
    color: #e0d9d9;
    text-align: justify;
}


/* ===========================
   COMO FUNCIONA
=========================== */
.funciona-section {
    margin-top: 0%;
    background: #f2f4f8;
    text-align: center;
    height: 600px;
    padding: 4% 8% 4% 8%;
    background-color:#f2f4f8;
    width:100%;
    background-image: url("tinta.jpg");
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.funciona-section h2 {
    font-size: 52px;
    margin-bottom: 60px;
    color: #333;
}

.funciona-section p{
    font-size: 30px;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}

/* Efeito de scroll*/

/* Começa invisível */
.fade-in-element {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

/* Quando entra na tela */
.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0);
}

/* (Opcional) A section inteira também pode animar */
.fade-in-section {
    opacity: 0;
    transition: opacity 1.2s ease;
}

.fade-in-section.visible {
    opacity: 1;
}


/* ===========================
   FOOTER
=========================== */
.footer {
    background: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}
